<!DOCTYPE html>
<html ng-app>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="angular.min.js"></script>
	<script src="choice.js"></script>
	<script src="calc.js"></script>
	<script src="bootstrap-datepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	</head>

<body>
	

	<div class ="container" style="width: 90%; background-color:#dceaf4; padding:20px 20px 20px 20px; font-size:16px;">
		<h2>Form</h2>

			<div class="inner-container" style="border: 1px solid white; border-radius: 10px; min-width:800px; padding: 20px 20px 20px 20px">
			 	<div ng-controller="DAO_Controller">
			 		<table class="table table-striped table-bordered table-condensed">
			 			<tr>
					 		<td><label>ДАО: </label></td>
					 		<td><select ng-model="dao" ng-options="dao.name for dao in dao_list" ng-click="SetDaoChoice(dao.choice)">
					 		</select></td>
				 		</tr>
				 		<tr>
					 		<td><label>Цели: </label></td>
					 		<td><select ng-model="purpose" ng-options="purpose.name for purpose in GetPurposeList(dao.choice)" ng-click="SetPurposeChoice(purpose.choice)">
					 		</select></td>
				 		</tr>

				 		<tr>
					 		<td><label>Программы: </label></td>
					 		<td><select ng-model="program" ng-options="program.name for program in GetProgramList(purpose.choice)"></select></td>
				 		</tr>
			 		</table>
			 	</div>
			 </div>

			<div class="inner-container2" style="border: 1px solid white; border-radius: 10px; min-width:800px; 	padding: 20px 20px 20px 20px">
		 		<div ng-controller="CalcController">
		 			<table class="table table-striped table-bordered table-condensed">
		 				<tr>
				 			<td> <label>Сумма1: </label> </td>
				 			<td> <input type="text" ng-model="sum1" ng-change="SetSum1(sum1)" placeholder="Введите сумму"></input> тг. </td>
			 			</tr>
		 				<tr>
				 			<td> <label>Сумма2: </label> </td>
				 			<td> <input type="text" ng-model="sum2" ng-change="SetSum2(sum2)" placeholder="Введите сумму"></input> тг. </td>
			 			</tr>
			 			<tr>
			 				<td><label>Срок: </label></td>
			 				<td> 
			 					
			 					<input type="date" ng-model="datefrom" ng-change="SetDateFrom(datefrom)"></input>
			 					<input type="date" ng-model="dateto" ng-change="SetDateTo(dateto)"></input>
			 				</td>
			 			</tr>
			 			<tr>
				 			<td><label>Срок в месяцах: </label></td>
							<td><span>{{GetPeriod()}}</span></td>
			 			</tr>

			 			<tr>
				 			<td><label>Ставка вознаграждения1: </label></td>
				 			<td><input type="text" ng-model="percentage1" ng-change="SetPercentage1(percentage1)" placeholder="Введите срок"></input> %</td>
			 			</tr>

			 			<tr>
				 			<td><label>Ставка вознаграждения2: </label></td>
				 			<td><input type="text" ng-model="percentage2" ng-change="SetPercentage2(percentage2)" placeholder="Введите срок"></input> %</td>
			 			</tr>

			 			<tr>
				 			<td><label>Периодичность платежей: </label></td>
				 			<td><select ng-model="frequency" ng-options="freq.name for freq in freq_list" ng-click="SetPaymentFrequency(frequency.value)"></select></td>
			 			</tr>

			 			<tr>
				 			<td><label>Количество платежей: </label></td>
				 			<td>
				 			<span ng-if="payment_frequency==0">
				 				<input type="text" ng-model="payment_count" ng-change="SetPaymentCount(payment_count)"></input>
				 			</span>
				 			<span ng-if="payment_frequency!=0">
				 				<span> {{GetPaymentCount()}}</span>				 			
				 			</span>
				 			</td>

			 			</tr>
		 			</table>
		 			<button type="submit" ng-click="BuildGraph()" class="btn btn-default">Посчитать</button>	
			 			<span ng-if="graph!=[]">
			 				<br>
			 				<br>
			 				<table class="table table-striped table-bordered table-condensed">
			 					<thead>
							        <tr>
							            <th>Платеж </th>
							            <th>Дата Погашения </th>
							            <th>Погашение Основного долга</th>
							            <th>Всего </th>
							            <th>Несубсидируемое </th>
							            <th>Субсидироемое </th>
							            <th>Остаток Основного Долга </th>
							        </tr>
							    </thead>
							   <tbody>
							   
							    	<tr ng-repeat="item in graph">
					 					<td>{{item.payment}} </td>
					 					<td>{{item.date}} </td>
					 					<td>{{item.main_dept}} </td>
					 					<td>{{item.total}} </td>	
					 					<td>{{item.reward1}} </td>
					 					<td>{{item.reward2}} </td>
					 					<td>{{item.left}} </td>	
					 				</tr>
				 				
				 				</tbody>
				 				
				 			</table>
				 		</span>
		 		</div>

		 	</div>

	</div>
 		

</body>

</html>